#override-brand {
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-radius: 0px;
}

#override-navbar {
	border: 0px;
	border-radius: 0px;
}

#override-active {
	background-color: #424242;
}

.logo {
	height: 55px;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	background-color: #424242;
	color: #FFF;
	padding: 1% 0;
	font-size: 1.2em;
	border: 0px;
}

.navbar-brand {
	float: left;
	min-height: 55px;
	padding-top: 0px;
	margin: 0px;
	border: 0px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
	color: #FFFFFF;
	background-color: #424242;
	border-radius: 0px;
	border: 0px;
}
