br {
	line-height: 150%;
}
#override-brand {
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-radius: 0px;
}

#override-navbar {
	border: 0px;
	border-radius: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

#override-active {
	background-color: #424242;
}

#avatar {
	border-radius: 50%;
	border: 3px solid;
	border-color: #20C20E; 
}

#btn {
	font-size: 18px;
	color: #D5D5D5;
	padding: 12px 22px;
	background-color: #424242;
	border: 2px solid #FFF;
}

#btn:hover {
	color: #424242;
	background-color: #FFFFFF;
}

.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
}
.accordion {
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	background-color: #424242;
	color: #D5D5D5;
}

.clicked, .accordion:hover {
	background-color: #000000;
}

.accordion:after {
	content: '\002B';
	color: #D5D5D5;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.clicked:after {
	content: "\2212";
}

.panel {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-out;
	background-image: url('../img/robots_dark.png');
	color: #D5D5D5;
}

#override-panel {
	border-radius: 0px;
	border: 0px;
	margin: 0px;
}

.body {
	background-color: #D5D5D5;
	background-image: url('../img/robots.png');
}

#body {
	background-color: #D5D5D5;
	background-image: url('../img/robots.png');
}

footer {
	width: 100%;
	background-color: #424242;
	padding: 5%;
	color: #FFF;
}

.fa{
	padding: 30px;
	font-size: 48px;
	color: #FFF;
}

.fa:hover {
	color: #D5D5D5;
	text-decoration: none;
}

.logo {
	height: 55px;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	background-color: #424242;
	color: #FFF;
	padding: 1% 0;
	font-size: 1.2em;
	border: 0px;
}

.navbar-brand {
	float: left;
	min-height: 55px;
	padding-top: 0px;
	margin: 0px;
	border: 0px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
	color: #FFFFFF;
	background-color: #424242;
	background: #424242;
	border-radius: 0px;
	border: 0px;
}

.navbar-inverse .navbar-nav li a{
	color: #D5D5D5;
}

@media (max width: 600px) {
	.carousel-caption{
		display: none;
	}
}

#override-p {
	margin: 16px 0px;
}

#override-header {
	margin: 32px 32px 64px 32px;
	border-top: 0.1em solid #424242;
	border-bottom: 0.1em solid #424242;
}

#polaroid {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-bottom: 25px;
}

#exp {
	opacity: 0;
	width: 100%;
	transition: .5s ease;	
}

#exp:hover {
	opacity: 1;
}

#override-container {
	padding: 10px 20px;
	font-size: 24px;
	text-align: center;
}
